:root {
  --primary: #1e90ff;
  --bg: #161717;
  --bgdarker: #202940;
  --secondary: #424242;
  --accent: #ff4081;
  --error: #ff5252;
  --chat-bg-1: #424242;
  --chat-bg-2: #7c5d5d;
  --info: #2196f3;
  --main-gredient: linear-gradient(45deg, #0088bb, #004674);
  --success: #4caf50;
  --warning: #fb8c00;
  --text-color: #fff;
  --shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(64, 64, 64, 0.4) !important;
  --bg-1: #28968c;
  --bg-1-lighter: #28968c;
  --bg-3: #d44b71;
  --gradient: linear-gradient(195deg, #323a54, #1a2035) !important;
  --body: #1a2035;
  --textdarker: #fff;
  --bg-2: #a03f3e;
  --bg-3-lighter: #e9a5b8;
  --bg-4: #268bd2;
  --transition: all 0.3s ease-in;
}

.theme--light {
  --text-color: #000;
  --body: #0066ff;
  --bg: #000;
  --gradient: linear-gradient(
    195deg,
    rgb(192, 10, 10),
    rgb(180, 118, 118)
  ) !important;
  --textdarker: #000;
  --bgdarker: #000;
}
